<div id="<%= dom_id calc %>">
  <div class="calcs">
    <p>
      <strong>Nome</strong>
      <%= calc.name %>
    </p>

    <p>
      <strong>Peso (kg)</strong>
      <%= calc.weight %>
    </p>

    <p>
      <strong>Altura (m)</strong>
      <%= calc.height %>
    </p>

    <p>
      <strong>IMC</strong>
      <%= calc.bmi %>
    </p>  
  </div>

</div>
