<div id="<%= dom_id calc %>">
   <p>
    <strong>Nome:</strong>
    <%= calc.name %>
  </p>
  
  <p>
    <strong>Peso:</strong>
    <%= calc.weight %>
  </p>

  <p>
    <strong>Altura:</strong>
    <%= calc.height %>
  </p>

  <p>
    <strong>IMC:</strong>
    <%= calc.bmi %>
  </p>

</div>
