<%= turbo_stream_from "calcs" %>

<main>  
  <div class="box">

      <h1>Calculadora de IMC</h1>

      <%= render partial: "calcs/new_button" %>
    
      <%= turbo_frame_tag "something" do %>
        <div class="calcs-box" id="calc_result">
          <div>
            
          </div>
        </div>
      <% end %>

      <h2>Últimos cálculos</h2>

      <%= turbo_frame_tag "results_frame" do %>
        <div class="calcs-box" id="calc_stream">
          <div id="calcs">
            <% @calcs.each do |calc| %>
              <%= render calc %>

            <% end %>
          </div>
        </div>
      <% end %>

  </div>
</main>

