<%= turbo_stream_from "calcs" %>
<main>  
  <div class="box">

      <p style="color: green"><%= notice %></p>

      <h1>Calculadora de IMC</h1>
    <%= turbo_frame_tag "new_calc_frame" do %>
      <%= link_to "Novo cálculo", new_calc_path, class: "new-calc" %>    
    <% end %>

      <h2>Últimos cálculos</h2>

      <%= turbo_frame_tag "results_frame" do %>
        <div class="calcs-box" id="calc_stream">
          <div id="calcs">
            <% @calcs.each do |calc| %>
              <%= render calc %>

            <% end %>
          </div>
        </div>
   <% end %>

  </div>
</main>

